.qr-address {
    height: 'auto';
    max-width: 100%;

    border: 2px solid white;
    border-radius: 20px;
}
.qr-address-wrap {
    width: 100%;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}